openapi: 3.0.0
info:
  title: HRIS API Reference
  version: '2020-09-17'
  contact: {}
  description: |-
    The Finch HRIS API provides a unified way to connect to a multitide of HRIS systems. The API requires an access token issued by Finch.

    By default, Organization, Census, and Payroll requests use Finch's [Data Syncs](docs/Development-Guides/Data-Syncs.md). If a request is made before the initial sync has completed, Finch will request data live from the provider. The latency on live requests may range from seconds to minutes depending on the provider and batch size.
    Benefits requests (both read and write) are always made live to the provider. Latencies may range from seconds to minutes depending on the provider and batch size.


    Employer products are specified by the product parameter, a space-separated list of products that your application requests from an employer authenticating through Finch Connect. Valid product names are—
    - `company`: Read basic company data

    - `directory`: Read company directory and organization structure

    - `individual`: Read individual data, excluding income and employment data

    - `employment`: Read individual employment and income data

    - `payment`: Read payroll and contractor related payments by the company

    - `pay_statement`: Read detailed pay statements for each individual

    - `benefits`: Create and manage benefits and benefit enrollment within a company

    - `deduction` (deprecated): Previously used to manage deductions within a company. Please use `benefits`.

    [![Open in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/21027137-08db0929-883d-4094-a9ce-dbf5a9bee4a4?action=collection%2Ffork&collection-url=entityId%3D21027137-08db0929-883d-4094-a9ce-dbf5a9bee4a4%26entityType%3Dcollection%26workspaceId%3D1edf19bc-e0a8-41e9-ac55-481a4b50790b)
servers:
  - url: 'https://api.tryfinch.com'
    description: ''
tags:
  - name: 1. Organization
  - name: 2. Payroll
  - name: 3. Benefits
  - name: 4. Management
  - name: 5. Deprecated
paths:
  /employer/company:
    get:
      description: Read basic company data
      responses:
        '200':
          description: Basic company data
          content:
            application/json:
              examples:
                Success:
                  value:
                    id: 514aa2b7-898f-4ce7-bc05-c2fe993713e8
                    legal_name: 'Acme, Inc.'
                    entity:
                      type: corporation
                      subtype: s_corporation
                    ein: 12-3456789
                    primary_email: founders@acme.com
                    primary_phone_number: '1234567890'
                    departments:
                      - name: Engineering
                        parent: null
                      - name: Platform
                        parent:
                          name: Engineering
                    locations:
                      - line1: 628 Bear Ave
                        line2: Apt A
                        city: Schenectady
                        state: NY
                        postal_code: '94301'
                        country: US
                    accounts:
                      - routing_number: '123456789'
                        account_name: CHECKING ACCOUNT
                        institution_name: 'BANK OF AMERICA, N.A.'
                        account_type: checking
                        account_number: '98765432'
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: A stable Finch `id` (UUID v4) for the company.
                  legal_name:
                    type: string
                    description: The legal name of the company.
                    nullable: true
                  entity:
                    type: object
                    description: The entity type object.
                    nullable: true
                    properties:
                      type:
                        type: string
                        description: The tax payer type of the company.
                        enum:
                          - llc
                          - corporation
                          - sole_proprietor
                          - non_profit
                          - partnership
                          - cooperative
                        nullable: true
                      subtype:
                        type: string
                        description: The tax payer subtype of the company.
                        enum:
                          - s_corporation
                          - c_corporation
                          - b_corporation
                        nullable: true
                  primary_email:
                    type: string
                    description: The email of the main administrator on the account.
                    nullable: true
                  primary_phone_number:
                    type: string
                    description: 'The phone number of the main administrator on the account. Format: `XXXXXXXXXX`'
                    pattern: '[0-9]{10}'
                    nullable: true
                  departments:
                    type: array
                    description: The array of company departments.
                    nullable: true
                    items:
                      type: object
                      nullable: true
                      properties:
                        name:
                          type: string
                          description: The department name.
                          nullable: true
                        parent:
                          type: object
                          description: 'The parent department, if present.'
                          nullable: true
                          properties:
                            name:
                              type: string
                              description: The parent department's name.
                              nullable: true
                  ein:
                    type: string
                    description: The employer identification number.
                    nullable: true
                  locations:
                    type: array
                    nullable: true
                    items:
                      $ref: '#/components/schemas/Location'
                  accounts:
                    type: array
                    description: An array of bank account objects associated with the payroll/HRIS system.
                    nullable: true
                    items:
                      type: object
                      properties:
                        routing_number:
                          type: string
                          description: A nine-digit code that's based on the U.S. Bank location where your account was opened.
                          nullable: true
                        account_name:
                          type: string
                          description: The name of the bank associated in the payroll/HRIS system.
                          nullable: true
                        institution_name:
                          type: string
                          description: Name of the banking institution.
                          nullable: true
                        account_type:
                          type: string
                          description: The type of bank account.
                          enum:
                            - checking
                            - savings
                          nullable: true
                        account_number:
                          type: string
                          description: 10-12 digit number to specify the bank account
                          nullable: true
      summary: Company
      operationId: get-company
      tags:
        - 1. Organization
      parameters:
        - $ref: '#/components/parameters/API-Version'
  /employer/directory:
    get:
      description: Read company directory and organization structure
      parameters:
        - name: limit
          in: query
          description: Number of employees to return (defaults to all)
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: Index to start from (defaults to 0)
          required: false
          schema:
            type: integer
        - $ref: '#/components/parameters/API-Version'
      responses:
        '200':
          description: Company directory and organization structure
          content:
            application/json:
              examples:
                Success:
                  value:
                    paging:
                      count: 25
                      offset: 10
                    individuals:
                      - id: 5d0b10a1-a09a-430f-81f1-20be735dc5e9
                        first_name: Jane
                        middle_name: null
                        last_name: Doe
                        manager:
                          id: c205b3fa-b626-4346-bf0f-ca065ab88d31
                        department:
                          name: Product
                        is_active: true
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  individuals:
                    type: array
                    description: The array of employees.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: A stable Finch id (UUID v4) for an individual in the company.
                        first_name:
                          type: string
                          description: The legal first name of the individual.
                          nullable: true
                        middle_name:
                          type: string
                          description: The legal middle name of the individual.
                          nullable: true
                        last_name:
                          type: string
                          description: The legal last name of the individual.
                          nullable: true
                        manager:
                          type: object
                          description: The manager object.
                          nullable: true
                          properties:
                            id:
                              type: string
                              description: A stable Finch `id` (UUID v4) for an individual in the company.
                              pattern: '[0-9a-f]{8}[-]?(?:[0-9a-f]{4}[-]?){3}[0-9a-f]{12}'
                        department:
                          type: object
                          description: The department object.
                          nullable: true
                          properties:
                            name:
                              type: string
                              description: The name of the department.
                              nullable: true
                        is_active:
                          type: boolean
                          description: '`true` if the individual is an active employee or contractor at the company.'
                          nullable: true
      summary: Directory
      operationId: get-directory
      tags:
        - 1. Organization
  /employer/individual:
    post:
      description: 'Read individual data, excluding income and employment data'
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
      responses:
        '200':
          description: Individual data
          content:
            application/json:
              schema:
                type: object
                properties:
                  responses:
                    type: array
                    items:
                      type: object
                      properties:
                        individual_id:
                          type: string
                        code:
                          type: integer
                        body:
                          type: object
                          properties:
                            id:
                              type: string
                              description: A stable Finch `id` (UUID v4) for an individual in the company.
                            first_name:
                              type: string
                              description: The legal first name of the individual.
                              nullable: true
                            middle_name:
                              type: string
                              description: The legal middle name of the individual.
                              nullable: true
                            last_name:
                              type: string
                              description: The legal last name of the individual.
                              nullable: true
                            preferred_name:
                              type: string
                              description: The preferred name of the individual.
                              nullable: true
                            emails:
                              type: array
                              nullable: true
                              items:
                                type: object
                                properties:
                                  data:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                      - work
                                      - personal
                            phone_numbers:
                              type: array
                              nullable: true
                              items:
                                type: object
                                nullable: true
                                properties:
                                  data:
                                    type: string
                                    pattern: '[0-9]{10}'
                                    nullable: true
                                  type:
                                    type: string
                                    enum:
                                      - work
                                      - personal
                                    nullable: true
                            gender:
                              type: string
                              description: The gender of the individual.
                              enum:
                                - female
                                - male
                                - other
                                - decline_to_specify
                              nullable: true
                            ethnicity:
                              type: string
                              enum:
                                - asian
                                - white
                                - black_or_african_american
                                - native_hawaiian_or_pacific_islander
                                - american_indian_or_alaska_native
                                - hispanic_or_latino
                                - two_or_more_races
                                - decline_to_specify
                              description: The EEOC-defined ethnicity of the individual.
                              nullable: true
                            dob:
                              $ref: '#/components/schemas/Date'
                            ssn:
                              type: string
                              description: 'Social Security number of the individual. This field is only available with the `ssn` scope enabled and the `options: { include: [''ssn''] }` param set in the body.'
                            residence:
                              $ref: '#/components/schemas/Location'
              examples:
                Success:
                  value:
                    responses:
                      - individual_id: 5d0b10a1-a09a-430f-81f1-20be735dc5e9
                        code: 200
                        body:
                          id: 5d0b10a1-a09a-430f-81f1-20be735dc5e9
                          first_name: Jane
                          middle_name: null
                          last_name: Doe
                          preferredName: Janey
                          emails:
                            - data: jane@acme.com
                              type: work
                            - data: janed@personal.com
                              type: personal
                          phone_numbers:
                            - data: '5051234567'
                              type: personal
                          gender: female
                          ethnicity: black_or_african_american
                          dob: '1970-01-01'
                          residence:
                            line1: 123 Main St
                            line2: Apt C
                            city: Schenectady
                            state: NY
                            postal_code: '12345'
                            country: US
      summary: Individual
      operationId: get-individual
      tags:
        - 1. Organization
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    type: object
                    properties:
                      individual_id:
                        type: string
                        format: uuid
                options:
                  type: object
                  properties:
                    include:
                      type: array
                      description: 'Optional fields to include. Currently only `ssn` is supported. To include this field, the `ssn` scope must be enabled.'
                      items:
                        type: string
                        enum:
                          - ssn
              required:
                - requests
            examples:
              Individual ids:
                value:
                  requests:
                    - individual_id: bb20ea64-93f9-45db-940d-960379684d68
                    - individual_id: c7962b5b-0e6d-4745-a6c3-1ffff6e28832
              SSN:
                value:
                  requests:
                    - individual_id: bb20ea64-93f9-45db-940d-960379684d68
                    - individual_id: c7962b5b-0e6d-4745-a6c3-1ffff6e28832
                  options:
                    include:
                      - ssn
        description: ''
  /employer/employment:
    post:
      description: |-
        Read individual employment and income data

        Note: Income information is returned as reported by the provider. This may not always be annualized income, but may be in units of bi-weekly, semi-monthly, daily, etc, depending on what information the provider returns.
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
      responses:
        '200':
          description: Employment data
          content:
            application/json:
              examples:
                Success:
                  value:
                    responses:
                      - individual_id: 5d0b10a1-a09a-430f-81f1-20be735dc5e9
                        code: 200
                        body:
                          id: 5d0b10a1-a09a-430f-81f1-20be735dc5e9
                          first_name: Jane
                          middle_name: null
                          last_name: Doe
                          title: Customer Support
                          manager:
                            id: c205b3fa-b626-4346-bf0f-ca065ab88d31
                          department:
                            name: Product
                          employment:
                            type: employee
                            subtype: full_time
                          start_date: '2017-06-30'
                          end_date: null
                          is_active: true
                          class_code: '8810'
                          location:
                            line1: 12 Bird Drive
                            line2: null
                            city: Palo Alto
                            state: CA
                            postal_code: '94301'
                            country: US
                          income:
                            unit: yearly
                            amount: 10000000
                            currency: usd
                            effective_date: '2019-03-01'
                          income_history:
                            - unit: yearly
                              amount: 9000000
                              currency: usd
                              effective_date: '2018-05-15'
                            - unit: yearly
                              amount: 8000000
                              currency: usd
                              effective_date: '2017-06-30'
                          custom_fields:
                            - name: tShirtSize
                              value: L
              schema:
                type: object
                properties:
                  responses:
                    type: array
                    items:
                      type: object
                      properties:
                        individual_id:
                          type: string
                        code:
                          type: integer
                        body:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "string\tA stable Finch `id` (UUID v4) for an individual in the company."
                            first_name:
                              type: string
                              description: The legal first name of the individual.
                              nullable: true
                            middle_name:
                              type: string
                              description: The legal middle name of the individual.
                              nullable: true
                            last_name:
                              type: string
                              description: The legal last name of the individual.
                              nullable: true
                            title:
                              type: string
                              description: The current title of the individual.
                              nullable: true
                            manager:
                              type: object
                              description: The manager object representing the manager of the individual within the org.
                              nullable: true
                              properties:
                                id:
                                  type: string
                                  description: A stable Finch `id` (UUID v4) for an individual in the company.
                                  pattern: '[0-9a-f]{8}[-]?(?:[0-9a-f]{4}[-]?){3}[0-9a-f]{12}'
                            department:
                              type: object
                              description: The department object.
                              nullable: true
                              properties:
                                name:
                                  type: string
                                  description: The name of the department associated with the individual.
                                  nullable: true
                            employment:
                              type: object
                              description: The employment object.
                              nullable: true
                              properties:
                                type:
                                  type: string
                                  description: The main employment type of the individual.
                                  enum:
                                    - employee
                                    - contractor
                                  nullable: true
                                subtype:
                                  type: string
                                  description: "\tThe secondary employment type of the individual. Options: `full_time`, `part_time`, `intern`, `temp`, `seasonal` and `individual_contractor`."
                                  enum:
                                    - full_time
                                    - intern
                                    - part_time
                                    - temp
                                    - seasonal
                                    - individual_contractor
                                  nullable: true
                            start_date:
                              $ref: '#/components/schemas/Date'
                            end_date:
                              $ref: '#/components/schemas/Date'
                            is_active:
                              type: boolean
                              description: '`true` if the individual an an active employee or contractor at the company.'
                              nullable: true
                            class_code:
                              type: string
                              description: Worker's compensation classification code for this employee
                              nullable: true
                            location:
                              $ref: '#/components/schemas/Location'
                            income:
                              $ref: '#/components/schemas/Income'
                            income_history:
                              type: array
                              description: The array of income history.
                              nullable: true
                              items:
                                $ref: '#/components/schemas/Income'
                            custom_fields:
                              type: array
                              description: Custom fields for the individual. These are fields which are defined by the employer in the system. Custom fields are not currently supported for assisted connections.
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    nullable: true
                                  value:
                                    type:
                                      - number
                                      - string
                                      - boolean
                                    nullable: true
      summary: Employment
      operationId: get-employment
      tags:
        - 1. Organization
      requestBody:
        $ref: '#/components/requestBodies/Individual-Ids'
  /employer/payment:
    get:
      description: Read payroll and contractor related payments by the company.
      parameters:
        - name: start_date
          required: true
          in: query
          description: The start pay date to retrieve payments by a company (inclusive).
          schema:
            type: string
            format: date
            example: '2021-01-01'
            pattern: YYYY-MM-DD
        - name: end_date
          required: true
          in: query
          description: The end pay date to retrieve payments by a company (inclusive).
          schema:
            type: string
            format: date
            example: '2021-01-01'
            pattern: YYYY-MM-DD
        - $ref: '#/components/parameters/API-Version'
      responses:
        '200':
          description: Payment data
          content:
            application/json:
              examples:
                Success:
                  value:
                    - id: 20aa7cf2-949d-4d4e-9c01-499b59501ded
                      pay_period:
                        start_date: '2019-08-01'
                        end_date: '2019-08-15'
                      pay_date: '2019-08-22'
                      debit_date: '2019-08-22'
                      company_debit:
                        amount: 5300000
                        currency: usd
                      gross_pay:
                        amount: 4000000
                        currency: usd
                      net_pay:
                        amount: 3200000
                        currency: usd
                      employer_taxes:
                        amount: 200000
                        currency: usd
                      employee_taxes:
                        amount: 350000
                        currency: usd
                      individual_ids:
                        - 54719e14-5ea7-4fda-9898-f4d9ccb83c1a
                        - 0ab620fc-203e-44ad-916c-facc69250f6f
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The unique id for the payment.
                      pattern: '[0-9a-f]{8}[-]?(?:[0-9a-f]{4}[-]?){3}[0-9a-f]{12}'
                    pay_period:
                      type: object
                      description: The pay period object.
                      nullable: true
                      properties:
                        start_date:
                          $ref: '#/components/schemas/Date'
                        end_date:
                          $ref: '#/components/schemas/Date'
                    pay_date:
                      $ref: '#/components/schemas/Date'
                    debit_date:
                      $ref: '#/components/schemas/Date'
                    company_debit:
                      $ref: '#/components/schemas/Money'
                    gross_pay:
                      $ref: '#/components/schemas/Money'
                    net_pay:
                      $ref: '#/components/schemas/Money'
                    employer_taxes:
                      $ref: '#/components/schemas/Money'
                    employee_taxes:
                      $ref: '#/components/schemas/Money'
                    individual_ids:
                      type: array
                      description: Array of every individual on this payment.
                      nullable: true
                      items:
                        type: string
                        pattern: '[0-9a-f]{8}[-]?(?:[0-9a-f]{4}[-]?){3}[0-9a-f]{12}'
      summary: Payment
      operationId: get-payment
      tags:
        - 2. Payroll
  /employer/pay-statement:
    post:
      description: |-
        Read detailed pay statements for each individual.

        Deduction and contribution types are supported by the payroll systems that support Benefits.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  description: The array of batch requests.
                  items:
                    type: object
                    properties:
                      payment_id:
                        type: string
                        description: A stable Finch `id` (UUID v4) for a payment.
                        pattern: '[0-9a-f]{8}[-]?(?:[0-9a-f]{4}[-]?){3}[0-9a-f]{12}'
                      limit:
                        type: integer
                        description: Number of pay statements to return (defaults to all).
                      offset:
                        type: integer
                        description: Index to start from.
                    required:
                      - payment_id
              required:
                - requests
            examples:
              example-1:
                value:
                  requests:
                    - payment_id: string
      responses:
        '200':
          description: Pay statement data
          content:
            application/json:
              examples:
                Success:
                  value:
                    responses:
                      - payment_id: fc8b024e-d373-4c9c-80fc-f1625383d142
                        code: 200
                        body:
                          paging:
                            count: 25
                            offset: 10
                          pay_statements:
                            - individual_id: be7b048c-a6f3-4194-a017-2f537d4f3565
                              type: regular
                              payment_method: check
                              total_hours: 80
                              gross_pay:
                                amount: 230000
                                currency: usd
                              net_pay:
                                amount: 180000
                                currency: usd
                              earnings:
                                - type: salary
                                  name: Salary
                                  amount: 230000
                                  currency: usd
                                  hours: 80
                              taxes:
                                - type: state
                                  name: State Withholding - OR
                                  employer: false
                                  amount: 0
                                  currency: usd
                              employee_deductions:
                                - name: Pre-Tax 401k
                                  amount: 50000
                                  currency: usd
                                  pre_tax: true
                                  type: 401k
                              employer_contributions:
                                - name: Employee Medical Insurance
                                  amount: 23272
                                  currency: usd
                                  type: s125_medical
              schema:
                type: object
                properties:
                  responses:
                    type: array
                    items:
                      type: object
                      properties:
                        payment_id:
                          type: string
                        code:
                          type: integer
                        body:
                          type: object
                          properties:
                            paging:
                              $ref: '#/components/schemas/Paging'
                            pay_statements:
                              type: array
                              description: The array of pay statements for the current payment.
                              items:
                                type: object
                                properties:
                                  individual_id:
                                    type: string
                                    description: A stable Finch `id` (UUID v4) for an individual in the company
                                  type:
                                    type: string
                                    description: The type of the payment associated with the pay statement.
                                    enum:
                                      - regular_payroll
                                      - off_cycle_payroll
                                      - one_time_payment
                                    nullable: true
                                  payment_method:
                                    type: string
                                    description: The payment method.
                                    enum:
                                      - check
                                      - direct_deposit
                                    nullable: true
                                  total_hours:
                                    type: integer
                                    description: The number of hours worked for this pay period
                                    nullable: true
                                  gross_pay:
                                    $ref: '#/components/schemas/Money'
                                  net_pay:
                                    $ref: '#/components/schemas/Money'
                                  earnings:
                                    type: array
                                    description: The array of earnings objects associated with this pay statement
                                    nullable: true
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        type:
                                          type: string
                                          description: The type of earning.
                                          enum:
                                            - salary
                                            - wage
                                            - reimbursement
                                            - overtime
                                            - severance
                                            - double_overtime
                                            - pto
                                            - sick
                                            - bonus
                                            - commission
                                            - tips
                                            - '1099'
                                            - other
                                          nullable: true
                                        name:
                                          type: string
                                          description: The exact name of the earning from the pay statement.
                                          nullable: true
                                        amount:
                                          type: integer
                                          description: The earnings amount in cents.
                                          nullable: true
                                        currency:
                                          type: string
                                          description: The earnings currency code.
                                          nullable: true
                                        hours:
                                          type: number
                                          description: 'The number of hours associated with this earning. (For salaried employees, this could be hours per pay period, `0` or `null`, depending on the provider).'
                                          nullable: true
                                  taxes:
                                    type: array
                                    description: The array of taxes objects associated with this pay statement.
                                    nullable: true
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        type:
                                          type: string
                                          description: The type of taxes.
                                          enum:
                                            - state
                                            - federal
                                            - local
                                            - fica
                                          nullable: true
                                        name:
                                          type: string
                                          description: The exact name of tax from the pay statement.
                                          nullable: true
                                        employer:
                                          type: boolean
                                          description: '`true` if the amount is paid by the employers.'
                                          nullable: true
                                        amount:
                                          type: integer
                                          description: The tax amount in cents.
                                          nullable: true
                                        currency:
                                          type: string
                                          description: The currency code.
                                          nullable: true
                                  employee_deductions:
                                    type: array
                                    description: The array of deductions objects associated with this pay statement.
                                    nullable: true
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        name:
                                          type: string
                                          description: The deduction name from the pay statement.
                                          nullable: true
                                        amount:
                                          type: integer
                                          description: The deduction amount in cents.
                                          nullable: true
                                        currency:
                                          type: string
                                          description: The deduction currency.
                                          nullable: true
                                        pre_tax:
                                          type: boolean
                                          description: Boolean indicating if the deduction is pre-tax.
                                          nullable: true
                                        type:
                                          $ref: '#/components/schemas/BenefitType'
                                  employer_contributions:
                                    type: array
                                    nullable: true
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        name:
                                          type: string
                                          description: The contribution name from the pay statement.
                                          nullable: true
                                        amount:
                                          type: integer
                                          description: The contribution amount in cents.
                                          nullable: true
                                        currency:
                                          type: string
                                          description: The contribution currency.
                                          nullable: true
                                        type:
                                          $ref: '#/components/schemas/BenefitType'
      summary: Pay Statement
      operationId: get-pay-statement
      tags:
        - 2. Payroll
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
  /providers:
    get:
      summary: Providers
      tags:
        - 4. Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The id of the payroll provider used in Connect.
                    display_name:
                      type: string
                      description: The display name of the payroll provider.
                    products:
                      type: array
                      description: '[DEPRECATED] The list of Finch products supported on this payroll provider. This field is now deprecated. Please use `authentication_methods` instead.'
                      items:
                        type: string
                    category:
                      type: string
                      description: 'The categroy of the integration. Possible values: `hris`, `ats`'
                    authentication_methods:
                      type: array
                      x-stoplight:
                        id: kqh1orpm8c2uh
                      description: The supported authentication methods for this provider.
                      items:
                        x-stoplight:
                          id: wa4yuci2z09fa
                        type: object
                        properties:
                          id:
                            type: string
                            x-stoplight:
                              id: z1v5i0z0fygnl
                            format: uuid
                          type:
                            type: string
                            x-stoplight:
                              id: zo0rd28yaha2t
                            enum:
                              - credentials
                              - oauth
                              - api_token
                              - assisted
                          allowed_scopes:
                            type: array
                            x-stoplight:
                              id: ecvjvt72ak9jy
                            description: The Finch scopes that are supported for this authentication method on this provider.
                            items:
                              x-stoplight:
                                id: quoud82vv5m8r
                              type: string
                          mfa_required:
                            type: boolean
                            x-stoplight:
                              id: e8kdjn4shez11
                            description: Whether MFA is required by the employer when authenticating with this method.
                    icon:
                      type: string
                      description: The url to the official icon of the payroll provider.
                    logo:
                      type: string
                      description: The url to the official logo of the payroll provider.
                    mfa_required:
                      type: boolean
                      description: '[DEPRECATED] whether MFA is required for the provider. This field is now deprecated. Please use `authentication_methods` instead.'
                    primary_color:
                      type: string
                      description: The hex code for the primary color of the payroll provider.
                    manual:
                      type: boolean
                      description: '[DEPRECATED] Whether the Finch integration with this provider uses the Assisted Connect Flow by default. This field is now deprecated. Please check for a `type` of `assisted` in the `authentication_methods` field instead.'
                    supported_fields:
                      type: object
                      x-stoplight:
                        id: sbfxdsj41lgms
                      description: 'endpoint  '
              examples:
                Success:
                  value:
                    - id: gusto
                      display_name: Gusto
                      products:
                        - company
                        - directory
                      icon: 'https://finch-logos.s3.us-west-2.amazonaws.com/gustoIcon.png'
                      logo: 'https://finch-logos.s3.us-west-2.amazonaws.com/gustoLogo.png'
                      mfa_required: true
                      primary_color: '#f45d47'
      operationId: get-providers
      description: Return details on all available payroll and HR systems.
      parameters:
        - $ref: '#/components/parameters/API-Version'
      security: []
  /introspect:
    get:
      summary: Introspect
      tags:
        - 4. Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    format: uuid
                    description: The Finch uuid corresponding to the employer account that was used to make this connection.
                  client_id:
                    type: string
                    description: The client id of the application associated with the `access_token`.
                  company_id:
                    type: string
                    description: The Finch uuid of the company associated with the `access_token`.
                  payroll_provider_id:
                    type: string
                    description: The payroll provider associated with the `access_token`.
                  authentication_methods:
                    type: array
                    x-stoplight:
                      id: n93sobax0x02d
                    items:
                      x-stoplight:
                        id: wy7i8hlmiphxl
                      type: object
                      properties:
                        type:
                          type: string
                          x-stoplight:
                            id: ch6pyl3ecvo9f
                          enum:
                            - credentials
                            - api_token
                            - oauth
                            - assisted
                        granted_scopes:
                          type: array
                          x-stoplight:
                            id: rqvd73usfjbnu
                          items: {}
                        connection_status:
                          type: object
                          x-stoplight:
                            id: m463708pc1z32
                          properties:
                            status:
                              type: string
                              x-stoplight:
                                id: 58qg4ntak4ffj
                            message:
                              type: string
                              x-stoplight:
                                id: s1d9dsnea6asp
                  products:
                    type: array
                    description: '[DEPRECATED] An array of the authorized products associated with the `access_token`. This field is now deprecated. Please check `authentication_methods[].granted_scopes` instead.'
                    items:
                      type: string
                  username:
                    type: string
                    description: The account username used for login associated with the `access_token`.
                  manual:
                    type: boolean
                    description: '[DEPRECATED] Whether the connection associated with the `access_token` uses the Assisted Connect Flow. (`true` if using Assisted Connect, `false` if connection is automated). This field is now deprecated. Please look for the `assisted` type in `authentication_methods` instead.'
              examples:
                Success:
                  value:
                    account_id: d8ef1814-5913-492f-b5c0-a16e2d6432c9
                    client_id: 25ea8bd8-f76b-41f9-96e3-1e6162021c50
                    company_id: 87eb4bc3-f76b-35e7-78d2-8f7822021d73
                    products:
                      - company
                      - directory
                    username: johndoe@tryfinch.com
                    payroll_provider_id: gusto
                    manual: 'false'
      operationId: get-introspect
      description: Read account information associated with an `access_token`
      parameters:
        - $ref: '#/components/parameters/API-Version'
  /disconnect:
    post:
      summary: Disconnect
      operationId: post-disconnect
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 'If the request is successful, Finch will return “success” (HTTP 200 status).'
              examples:
                Success:
                  value:
                    status: success
      description: |-
        Disconnect one or more `access_token`s from your application. Deletion is based on both the employer and provider of the `access_token` used to call this endpoint, and will also delete all tokens with the same employer/provider pair. Other tokens for the same employer, but connected to a different provider, require a separate call.
        <br /><br />We require applications to implement the Disconnect endpoint for billing and security purposes.
      tags:
        - 4. Management
      parameters:
        - $ref: '#/components/parameters/API-Version'
  /employer/benefits:
    get:
      summary: Get All Benefits
      tags:
        - 3. Benefits
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBenefit'
              examples:
                Success:
                  value:
                    - benefit_id: e8b90071-0c11-471c-86e8-e303ef2f6782
                      type: 401k
                      description: Example 401k
                      frequency: every_paycheck
      operationId: get-company-benefits
      description: |-
        **Availability: Automated Benefits providers only**  

        List all company-wide benefits.

        This is a live request to the provider. Latencies may vary from seconds to minutes depending on the provider and number of benefits.
      parameters:
        - $ref: '#/components/parameters/API-Version'
    post:
      summary: Create Benefit
      operationId: post-company-benefits
      responses:
        '201':
          description: Successfully Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  benefit_id:
                    type: string
              examples:
                Success:
                  value:
                    benefit_id: e8b90071-0c11-471c-86e8-e303ef2f6782
        '422':
          description: Request provided with unsupported parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Invalid Benefit:
                  value:
                    code: 422
                    name: unprocessable_request_error
                    finch_code: unsupported_paramters
                    message: Provider does not support benefit type '401k'
      description: |-
        **Availability: Automated and Assisted Benefits providers**  
          
        Creates a new company-wide benefit. Please use the `/meta` endpoint to view available types for each provider.

        If the same request is made more than once with the same `benefit_type` and `description`, a new benefit will not be created. Finch will instead return the benefit id of the existing benefit.

        This is a live request to the provider. Latencies may vary from seconds to minutes depending on the provider and number of benefits.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  $ref: '#/components/schemas/BenefitType'
                description:
                  type: string
                frequency:
                  $ref: '#/components/schemas/BenefitFrequency'
      tags:
        - 3. Benefits
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
    parameters: []
  /employer/benefits/meta:
    get:
      summary: Get Benefits Metadata
      tags:
        - 3. Benefits
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/BenefitType'
                    description:
                      type: string
                      nullable: true
                    frequencies:
                      type: array
                      description: The list of frequencies supported by the provider for this benefit
                      items:
                        $ref: '#/components/schemas/BenefitFrequency'
                    employee_deduction:
                      type: array
                      description: Supported deduction types. An empty array indicates deductions are not supported.
                      nullable: true
                      items:
                        type: string
                        enum:
                          - fixed
                          - percent
                    company_contribution:
                      type: array
                      description: Supported contribution types. An empty array indicates contributions are not supported.
                      nullable: true
                      items:
                        type: string
                        enum:
                          - fixed
                          - percent
                    annual_maximum:
                      type: boolean
                      description: Whether the provider supports an annual maximum for this benefit.
                      nullable: true
                    catch_up:
                      type: boolean
                      description: Whether the provider supports catch up for this benefit. This field will only be true for retirement benefits.
                      nullable: true
                    hsa_contribution_limit:
                      description: Whether the provider supports HSA contribution limits. Empty if this feature is not supported for the benefit. This array only has values for HSA benefits.
                      type: array
                      nullable: true
                      items:
                        type: string
                        enum:
                          - individual
                          - family
              examples:
                Metadata Example:
                  value:
                    - type: 401k
                      description: 401(k)
                      employee_deduction:
                        - fixed
                        - percent
                      company_contribution:
                        - fixed
                        - percent
                      annual_maximum: true
                      catch_up: true
                      frequencies:
                        - every_paycheck
      operationId: get-company-benefits-meta
      description: |-
        **Availability: Automated and Assisted Benefits providers**  
          
        Lists available types and configurations for the provider associated with the access token.
      parameters:
        - $ref: '#/components/parameters/API-Version'
    parameters: []
  '/employer/benefits/{benefit_id}':
    get:
      summary: Get Benefit
      tags:
        - 3. Benefits
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBenefit'
              examples:
                Example Benefit:
                  value:
                    benefit_id: 6547e3aa-d887-4a77-bd41-17221e17cce3
                    type: 401k
                    description: Example 401k
                    frequency: every_paycheck
        '404':
          description: Benefit Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Not Found:
                  value:
                    code: 404
                    name: not_found_error
                    finch_code: benefit_not_found
                    message: Benefit not found
      operationId: get-company-benefit
      description: |-
        **Availability: Automated Benefits providers only**  
          
        Lists benefit information for a given benefit

        This is a live request to the provider. Latencies may vary from seconds to minutes depending on the provider.
      parameters:
        - $ref: '#/components/parameters/API-Version'
    post:
      summary: Update Benefit
      operationId: update-company-benefits
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  benefit_id:
                    type: string
              examples:
                Success:
                  value:
                    benefit_id: 6547e3aa-d887-4a77-bd41-17221e17cce3
        '400':
          description: Bad Request
        '404':
          description: Benefit Not Found
      description: |-
        **Availability: Automated and Assisted Benefits providers**  
          
        Updates an existing company-wide benefit

        This is a live request to the provider. Latencies may vary from seconds to minutes depending on the provider.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Updated name or description.
      tags:
        - 3. Benefits
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
    parameters:
      - schema:
          type: string
        name: benefit_id
        in: path
        required: true
  '/employer/benefits/{benefit_id}/enrolled':
    get:
      summary: Get Enrolled Individuals
      tags:
        - 3. Benefits
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  benefit_id:
                    type: string
                  individual_ids:
                    type: array
                    items:
                      type: string
              examples:
                Success:
                  value:
                    benefit_id: 6547e3aa-d887-4a77-bd41-17221e17cce3
                    individual_ids:
                      - 7fc9fb3a-2a62-47c1-9a5a-c9146483b58e
        '404':
          description: Benefit Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Not Found:
                  value:
                    code: 404
                    name: not_found_error
                    finch_code: benefit_not_found
                    message: Benefit not found
      operationId: get-company-benefits-enrolled
      description: |-
        **Availability: Automated Benefits providers only**  
          
        Lists individuals currently enrolled in a given benefit.

        This is a live request to the provider. Latencies may vary from seconds to minutes depending on the provider and number of benefits.
      parameters:
        - $ref: '#/components/parameters/API-Version'
    parameters:
      - schema:
          type: string
        name: benefit_id
        in: path
        required: true
  '/employer/benefits/{benefit_id}/individuals':
    get:
      summary: Get Benefits for Individuals
      tags:
        - 3. Benefits
      responses:
        '207':
          description: Multi-Status (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualBenefits'
              examples:
                Multi-status:
                  value:
                    - individual_id: d02a6346-1f08-4312-a064-49ff3cafaa7a
                      code: 200
                      body:
                        employee_deduction:
                          type: fixed
                          amount: 100
                        company_contribution:
                          type: fixed
                          amount: 100
                        annual_maximum: 1000
                        catch_up: false
                    - individual_id: e63c21ab-7cde-49d8-b6d6-ce208e84bf09
                      code: 404
                      body:
                        name: not_found_error
                        finch_code: individual_not_found
                        message: Individual not found
        '404':
          description: Benefit Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Not Found:
                  value:
                    code: 404
                    name: not_found_error
                    finch_code: benefit_not_found
                    message: Benefit not found
      operationId: get-individual-benefits
      description: |-
        **Availability: Automated Benefits providers only**  
          
        Get enrolled benefit information for the given individuals.

        This is a live request to the provider. Latencies may vary from seconds to minutes depending on the provider and number of benefits.
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
        - schema:
            type: string
            example: 'd675d2b7-6d7b-41a8-b2d3-001eb3fb88f6,d02a6346-1f08-4312-a064-49ff3cafaa7a'
          in: query
          name: individual_ids
          description: 'comma-delimited list of stable Finch uuids for each individual. If empty, defaults to all individuals'
    post:
      summary: Enroll Individuals in Benefits
      operationId: post-employer-individual-benefits-benefit_id
      responses:
        '200':
          description: Success for all individuals. Enrolled new individuals in the benefit and upserted information for individuals already enrolled.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    individual_id:
                      type: string
                    code:
                      type: integer
                      description: HTTP status code. Either 201 or 200
                      enum:
                        - 200
                        - 201
                    body:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Identifier indicating whether the benefit was newly enrolled or updated.
                          nullable: true
                        finch_code:
                          type: string
                          description: A descriptive identifier for the response
                          nullable: true
                        message:
                          type: string
                          description: Short description in English that provides more information about the response.
                          nullable: true
              examples:
                Success:
                  value:
                    - individual_id: d02a6346-1f08-4312-a064-49ff3cafaa7a
                      code: 201
                      name: created
                      finch_code: enrolled_new_benefit
                      message: Successfully enrolled new benefit for individual
                    - individual_id: e63c21ab-7cde-49d8-b6d6-ce208e84bf09
                      code: 200
                      name: success
                      finch_code: updated_existing_enrollment
                      message: Benefit information updated for individual
        '207':
          description: Multi-Status. Some individuals may not have succeeded. See body for details.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    individual_id:
                      type: string
                    code:
                      type: integer
                      description: HTTP status code
                    body:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Identifier indicating whether the benefit was newly enrolled or updated.
                        finch_code:
                          type: string
                          description: A descriptive identifier for the response.
                        message:
                          type: string
                          description: Short description in English that provides more information about the response.
              examples:
                Multi Status:
                  value:
                    - individual_id: d02a6346-1f08-4312-a064-49ff3cafaa7a
                      code: 201
                      name: created
                      finch_code: enrolled_new_benefit
                      message: Successfully enrolled new benefit for individual
                    - individual_id: e63c21ab-7cde-49d8-b6d6-ce208e84bf09
                      code: 200
                      name: success
                      finch_code: updated_existing_enrollment
                      message: Benefit information updated for individual
                    - individual_id: 0c89294b-b7f1-4999-9b7a-bb8a87326717
                      code: 404
                      name: not_found_error
                      finch_code: individual_not_found
                      message: Individual not found
                    - individual_id: fb292e27-bd07-4dbc-88c4-05923b33bbc2
                      code: 403
                      finch_code: access_denied
                      message: Permissions not valid for individual
        '400':
          description: Malformed Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Benefit Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Not Found:
                  value:
                    code: 404
                    name: not_found_error
                    finch_code: benefit_not_found
                    message: Benefit not found
        '422':
          description: Unprocessable Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Cannot Enroll:
                  value:
                    code: 422
                    name: unprocessable_request_error
                    finch_code: unprocessable_parameters
                    message: HSA enrollment are not currently available for this provider
      description: |
        **Availability: Automated and Assisted Benefits providers**  
          
        Enroll an individual into a benefit. This is an overwrite operation. If the employee is already enrolled, the enrollment amounts will be adjusted. Making the same request multiple times will not enroll new benefits, but will continue to set the state of the existing enrollment.

        This is a live request to the provider. Latencies may vary from seconds to minutes depending on the provider and number of benefits.

        <!-- theme: warning -->
        > Making changes to an individual's benefits may have tax consequences based on IRS regulations. Please consult a tax expert to ensure all changes being made to the system are compliant with local, state, and federal law.
      tags:
        - 3. Benefits
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  individual_id:
                    type: string
                    description: Finch id (uuidv4) for the individual to enroll
                  configuration:
                    type: object
            examples:
              Retirement:
                value:
                  - individual_id: d02a6346-1f08-4312-a064-49ff3cafaa7a
                    configuration:
                      employee_deduction:
                        type: percent
                        amount: 1000
                      company_contribution:
                        type: percent
                        amount: 400
                      catch_up: false
                      annual_maximum: 500000
              HSA:
                value:
                  - individual_id: d02a6346-1f08-4312-a064-49ff3cafaa7a
                    configuration:
                      employee_deduction:
                        type: fixed
                        amount: 10000
                      company_contribution:
                        type: fixed
                        amount: 0
                      annual_maximum: null
                      annual_contribution_limit: individual
              Custom:
                value:
                  - individual_id: string
                    configuration:
                      employee_deduction:
                        type: fixed
                        amount: 10000
                      company_contribution:
                        type: fixed
                        amount: 0
        description: |
          Enrollment bodies have a common format for each benefit type, with a different `configuration` schema based on the benefit type. The configurations for each type are outlined below. These are general configurations and may vary per provider. Please use the `/meta` endpoint to view provider specific supported configurations.

          **Retirement Benefits**

          Includes 401(k), Roth 401(k), 403(b), Roth 403(b), 457, Roth 457, and Simple IRA

          Field | Type | Description
          ------|------ | ----------
          `employee_deduction.type` | `string` | Deduction Type (`fixed` or `percent`)
          `employee_deduction.amount`| `integer` | Deduction amount in cents (if `fixed`) or basis points (if `percent`)
          `company_contribution.type` | `string` | Contribution Type (`fixed` or `percent`)
          `company_contribution.amount`| `integer` | Contribution amount in cents (if `fixed`) or basis points
          `catch_up`| `boolean` | Whether to enable catch up for this individual.
          `annual_maximum`| `integer` (`nullable`)| The annual maximum in cents for this individual.
          `effective_date` | `string` (`nullable`) | The date which the benefit should take effect by. **This field is currently only available for assisted benefits.**

          ***

          **HSA**

          Field | Type | Description
          ------|------ | ----------
          `employee_deduction.type` | `string` | Deduction Type (`fixed` or `percent`)
          `employee_deduction.amount`| `integer` | Deduction amount in cents (if `fixed`) or basis points (if `percent`)
          `company_contribution.type` | `string` | Contribution Type (`fixed` or `percent`)
          `company_contribution.amount`| `integer` | Contribution amount in cents (if `fixed`) or basis points
          `catch_up`| `boolean` | Whether to enable catch up for this individual.
          `annual_maximum`| `integer` (`nullable`) | The annual maximum in cents for this individual.
          `annual_contribution_limit` | `string` | `individual` or `family`
          `effective_date` | `string` (`nullable`) | The date which the benefit should take effect by. **This field is currently only available for assisted benefits.**

          ***

          **Section 125 Benefits, FSA, Custom Benefits**

          Field | Type | Description
          ------|------ | ----------
          `employee_deduction.type` | `string` | Deduction Type (`fixed` or `percent`)
          `employee_deduction.amount`| `integer` | Deduction amount in cents (if `fixed`) or basis points (if `percent`)
          `company_contribution.type` | `string` | Contribution Type (`fixed` or `percent`)
          `company_contribution.amount`| `integer` | Contribution amount in cents (if `fixed`) or basis points
          `effective_date` | `string` (`nullable`) | The date which the benefit should take effect by. **This field is currently only available for assisted benefits.**
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
    delete:
      summary: Unenroll Individuals from Benefits
      operationId: delete-individual-benefits
      responses:
        '207':
          description: Multi-Status (WebDAV)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    individual_id:
                      type: string
                    code:
                      type: integer
                      description: HTTP status code
                    body:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Identifier indicating whether the benefit was newly enrolled or updated.
                          nullable: true
                        finch_code:
                          type: string
                          description: A descriptive identifier for the response.
                          nullable: true
                        message:
                          type: string
                          description: Short description in English that provides more information about the response.
                          nullable: true
              examples:
                Success:
                  value:
                    - individual_id: 7fc9fb3a-2a62-47c1-9a5a-c9146483b58e
                      code: 200
                      body:
                        name: success
                        finch_code: unenrolled_individual_benefit
                        message: Unenrolled individual from benefit
        '404':
          description: Benefit Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: |-
        **Availability: Automated and Assisted Benefits providers**  
          
        Unenroll individuals from a benefit

        This is a live request to the provider. Latencies may vary from seconds to minutes depending on the provider.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: ''
              properties:
                individual_ids:
                  type: array
                  description: Array of individual_ids to unenroll.
                  items:
                    type: string
      tags:
        - 3. Benefits
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
    parameters:
      - schema:
          type: string
        name: benefit_id
        in: path
        required: true
  /employer/deduction/company/create:
    post:
      summary: Create a Deduction
      operationId: post-employer-deduction-company-create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: A unique Finch id (UUID v4) for the deduction.
              examples:
                Success:
                  value:
                    id: 7adbeaf0-9f98-48c1-935b-26a521f1aa8d
      description: Create a company-wide deduction to enroll individuals in
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name or short description of the deduction.
                type:
                  type: string
                  description: The type of deduction.
                  enum:
                    - post_tax
                    - 401k_pre_tax
                frequency:
                  type: string
                  description: The frequency to run this deduction with.
                  enum:
                    - one_time
                    - recurring
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
      tags:
        - 5. Deprecated
  /employer/deduction/company/list:
    post:
      summary: List Deductions
      operationId: post-employer-deduction-company-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: A unique Finch id (UUID v4) for the deduction.
                    name:
                      type: string
                      description: The name or short description of the deduction.
                    type:
                      type: string
                      description: The type of deduction.
                      enum:
                        - post_tax
                        - 401k_pre_tax
                    frequency:
                      type: string
                      description: The frequency to run this deduction with.
                      enum:
                        - one_time
                        - recurring
              examples:
                example-1:
                  value:
                    - id: 7adbeaf0-9f98-48c1-935b-26a521f1aa8d
                      name: 401(k) Deduction
                      type: 401k_pre_tax
                      frequency: recurring
      tags:
        - 5. Deprecated
      description: List the created company-wide deductions
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
  /employer/deduction/individual/create:
    post:
      summary: Enroll
      operationId: post-employer-deduction-individual-create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 'If the request is successful, Finch will return “success” (HTTP 200 status).'
              examples:
                Success:
                  value:
                    status: success
      tags:
        - 5. Deprecated
      description: ' Enroll an individual in a deduction'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deduction_id:
                  type: string
                  description: A unique Finch id (UUID v4) for the deduction.
                individual_id:
                  type: string
                  description: A unique Finch id (UUID v4) for the individual.
                employee_deduction:
                  type: object
                  required:
                    - amount
                    - type
                  description: An object representing the employee deduction.
                  properties:
                    amount:
                      type: integer
                      description: 'If the type is fixed, the deduction amount as an integer in cents. Otherwise, if the type is percent, the percentage as an integer from 0 (0%) - 10000 (100%).'
                    type:
                      type: string
                      description: Specify if the deduction is a fixed amount or percentage of the paycheck.
                      enum:
                        - fixed
                        - percent
                company_contribution:
                  type: object
                  description: 'An object representing the company contribution. Note: Required for 401k_pre_tax deduction.'
                  properties:
                    amount:
                      type: integer
                      description: 'If the type is fixed, the contribution amount as an integer in cents. Otherwise, if the type is percent, the percentage as an integer from 0 (0%) - 10000 (100%).'
                    type:
                      type: string
                      description: "true \tSpecify if the contribution is a fixed amount or percentage of the paycheck. Options: fixed or percent."
                      enum:
                        - fixed
                        - percent
              required:
                - deduction_id
                - individual_id
                - employee_deduction
  /employer/deduction/individual/get:
    post:
      summary: Get Enrollment
      operationId: post-employer-deduction-individual-get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  deduction_id:
                    type: string
                    description: A unique Finch id (UUID v4) for the deduction.
                  individual_id:
                    type: string
                    description: A unique Finch id (UUID v4) for the individual.
                  employee_deduction:
                    type: object
                    description: An object representing the employee deduction.
                    properties:
                      amount:
                        type: integer
                        description: 'If the type is fixed, the deduction amount as an integer in cents. Otherwise, if the type is percent, the percentage as an integer from 0 (0%) - 10000 (100%).'
                      type:
                        type: string
                        description: Specify if the deduction is a fixed amount or percentage of the paycheck
                        enum:
                          - fixed
                          - percent
                  company_contribution:
                    type: object
                    description: An object representing the company contribution.
                    properties:
                      amount:
                        type: integer
                        description: 'If the type is fixed, the contribution amount as an integer in cents. Otherwise, if the type is percent, the percentage as an integer from 0 (0%) - 10000 (100%).'
                      type:
                        type: string
                        description: Specify if the contribution is a fixed amount or percentage of the paycheck.
                        enum:
                          - fixed
                          - percent
              examples:
                Success:
                  value:
                    deduction_id: 7adbeaf0-9f98-48c1-935b-26a521f1aa8d
                    individual_id: af015567-858a-4355-aa63-5617ff341592
                    employee_deduction:
                      amount: 10000
                      type: fixed
                    company_contribution:
                      amount: 10000
                      type: fixed
      tags:
        - 5. Deprecated
      description: Retrieve the details of an individual's enrollment in a deduction
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deduction_id:
                  type: string
                  description: A unique Finch id (UUID v4) for the deduction.
                individual_id:
                  type: string
                  description: A unique Finch id (UUID v4) for the individual.
              required:
                - deduction_id
                - individual_id
  /employer/deduction/individual/delete:
    post:
      summary: Unenroll
      operationId: post-employer-deduction-individual-delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
              examples:
                Success:
                  value:
                    status: success
      tags:
        - 5. Deprecated
      description: Unenroll an individual from a deduction
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deduction_id:
                  type: string
                  description: A unique Finch id (UUID v4) for the deduction.
                individual_id:
                  type: string
                  description: A unique Finch id (UUID v4) for the individual.
              required:
                - deduction_id
                - individual_id
  /jobs/automated:
    get:
      summary: List All Automated Jobs
      tags:
        - 4. Management
      operationId: get-jobs-automated
      description: 'Get all automated jobs. Automated jobs are completed by a machine. By default, jobs are sorted in descending order by submission time. For scheduled jobs such as data syncs, only the next scheduled job is shown.'
      parameters:
        - $ref: '#/components/parameters/API-Version'
        - $ref: '#/components/parameters/Content-Type'
      responses:
        '200':
          description: Job was found
          content:
            application/json:
              schema:
                type: object
                properties:
                  '':
                    $ref: '#/components/schemas/Paging'
                    x-stoplight:
                      id: v1wfb98c3yfas
                  meta:
                    type: object
                    x-stoplight:
                      id: gvogg69yl024d
                    properties:
                      quotas:
                        type: object
                        x-stoplight:
                          id: 80r8hgr5r9kjd
                        description: Information about remaining quotas for this connection. Only applicable for customers opted in to use Finch's Data Sync Refresh endpoint (`POST /jobs/automated`). Please contact a Finch representative for more details.
                        properties:
                          data_sync_all:
                            type: object
                            x-stoplight:
                              id: j6xus9hs95ifo
                            properties:
                              allowed_refreshes:
                                type: integer
                                x-stoplight:
                                  id: bggi4k2j5d4sm
                              remaining_refreshes:
                                type: integer
                                x-stoplight:
                                  id: r4ponmfozgkzf
                  data:
                    type: array
                    x-stoplight:
                      id: fbq2ay71tw5je
                    items:
                      $ref: '#/components/schemas/AutomatedAsyncJob'
                      x-stoplight:
                        id: 4bjei2fp796pz
                required: []
              examples:
                Example 1:
                  value:
                    '':
                      count: 10
                      offset: 0
                    meta:
                      quotas:
                        data_sync_all:
                          allowed_refreshes: 2
                          remaining_refreshes: 2
                    data:
                      - job_id: 453bd7d7-5355-4d6d-a38e-d9e7eb218c3f
                        job_url: 'https://api.tryfinch.com/job/automated/453bd7d7-5355-4d6d-a38e-d9e7eb218c3f'
                        type: data_sync_all
                        status: pending
                        created_at: '2019-08-24T14:15:22Z'
                        scheduled_at: '2019-08-24T14:15:22Z'
                        started_at: '2019-08-24T14:15:22Z'
                        completed_at: '2019-08-24T14:15:22Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  status:
                    type: integer
                  code:
                    type: integer
                  name:
                    type: string
                  message:
                    type: string
              examples:
                Example 1:
                  value:
                    statusCode: 401
                    status: 401
                    code: 401
                    message: 'Unauthorized request: no authentication given'
                    name: unauthorized_request_error
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  status:
                    type: integer
                  code:
                    type: integer
                  name:
                    type: string
                  message:
                    type: string
              examples:
                Example 1:
                  value:
                    statusCode: 404
                    status: 404
                    code: 404
                    message: could not find job with id job-fb3b25dc-02dc-48eb-9cfc-3f9837276884
                    name: not_found_error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: integer
                  x-stoplight:
                    id: 4vv34b4tkreyh
                  description: The number of items to return. Defaults to 100.
                offset:
                  type: integer
                  x-stoplight:
                    id: nkqlsybl9wqww
                  description: Where in the list of jobs to start returning from. Defaults to index 0.
        description: ''
    post:
      summary: Enqueue a New Automated Job
      operationId: post-jobs-automated
      tags:
        - 4. Management
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: The id of the job that has been created.
                  job_url:
                    type: string
                    x-stoplight:
                      id: zbhqrlab2bgh5
                    description: The url that can be used to retrieve the job status
                  allowed_refreshes:
                    type: integer
                    description: 'The number of allowed refreshes per hour (per hour, fixed window)'
                  remaining_refreshes:
                    type: integer
                    description: 'The number of remaining refreshes available (per hour, fixed window)'
              examples:
                Example 1:
                  value:
                    job_id: 453bd7d7-5355-4d6d-a38e-d9e7eb218c3f
                    job_url: 'https://api.tryfinch.com/jobs/automated/453bd7d7-5355-4d6d-a38e-d9e7eb218c3f'
                    allowed_refreshes: 2
                    remaining_refreshes: 1
            application/xml:
              schema:
                type: object
                properties: {}
        '202':
          description: Accepted. This response will be returned if a job is already enqueued for the connection. This case does not consume any job quota as it just returns the details of an existing job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
[...]
